<%
  meta title: "About | Crossroads Global Solutions"
       description:'  We have over 50 years of dedicated knowledge...'
%>

<div class='container'>
  <h1 class='center-align'>About</h1>
  <br />
  <h5 class='grey-text text-darken-4'>
    We have over 50 years of dedicated knowledge.
  </h5>
  <p class='grey-text text-darken-2'
     style='font-size: 120%;'>
    With a combined experience of 50 years, Crossroad Global Solutions LLC helps
    provide their clients solutions to fast growing transportation to help
    business survive in a competitive world. Rest assured that you will be
    receiving the best freight rates with the only the most trusted carriers.
    <br /><br />
    <ul class='grey-text text-darken-2'
       style='font-size: 120%;'>
      <li>
        LTR SHIPPING SOLUTIONS
        <br /><br />
      </li>
      <li>
        FULL TRUCKLOAD SHIPPING
        <br /><br />
      </li>
      <li>
        INTENATIONAL SHIPPING
        <br /><br />
      </li>
      <li>
        CUSTOM LOGISTICS SOLUTIONS
        <br /><br />
      </li>
    </ul>
    <h5 class='grey-text text-darken-4'>
      YOUR SUCCESS IS OUR SUCCES
    </h5>
    <p class='grey-text text-darken-2'
       style='font-size: 120%;'>
      Crossroads Global Solutions LLC is dedicated to see you succeed. With a
      broad base of services such as; international freight, air freight, LTL
      and ground, there is nothing we can’t ship. “You call, we haul”.
      <br /><br />
      As a worldwide provider of shipping, trucking and freight services for
      commercial and residential shippers we can proudly say that all of our
      freight is transported by licensed US freight companies, offering services
      for all types and sizes of freight.
      <br /><br />
      Our customers include residential and commercial shippers of every type
      and size. For example while we ship for large companies we also specialize
      in shipments for internet based businesses, small businesses, eBay
      shippers and Etsy sellers. We ship to any location or destination.
      Whether you are a first time shipper or a seasoned pro, we are happy to
      help and serve while saving you money.
      <br /><br />
    </p>
    <h5 class='grey-text text-darken-4'>
      Anything. Anywhere.
    </h5>
    <p class='grey-text text-darken-2'
       style='font-size: 120%;'>
      All requests for shipping quotes are welcome. No restriction on size,
      location or destination. We have highly trained and experienced team to
      work quotes. We audit every shipment to verify the freight companies are
      classing it correctly, so there are no hidden charges. We offer the best
      carriers such as Fedex Freight, Con-Way, Estes Express, Old Dominion,
      R & L Carriers and more – all with the best rates.
    </p>
  </div>
</div>
