<%
  meta title: "Crossroads Global Solutions"
       description:'You call, we haul. Get your free shipping quote today.'
%>

<div id="cover-image">
  <h1 style='font-size: 700%;'>
    YOU CALL,
    WE HAUL
  </h1>
  <br />
  <h4>
    Rest assured that you will be receiving the best freight rates with the only the most trusted carriers.
  </h4>
  <br />
  <br />
  <a class="waves-effect waves-light btn-large yellow yellow-accent-4 grey-text text-darken-4">
    Get Free Quote
  </a>
  <br /><br /><br /><br /><br /><br /><br /><br />
</div>
<br />
<div class='container'>
  <div class="row">

  <div class="col s4">
    LESS THAN TRUCKLOAD
    FREIGHT SHIPPING
    <br />
    <a href=''>Learn More</a>
  </div>
  <div class="col s4">
    TRUCKLOAD
    FREIGHT SHIPPING
    <br />
    <a href=''>Learn More</a>
  </div>
  <div class="col s4">
    CUSTOM LOGISTICS
    SHIPPING SOLUTIONS
    <br />
    <a href=''>Learn More</a>
  </div>

</div>

</div>


<style>
#cover-image {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Red_Truck_(6833520559).jpg/1280px-Red_Truck_(6833520559).jpg') no-repeat;
    background-size: 100%;
}

</style>
