<%
  meta title: "Crossroads Global Solutions"
       description:'You call, we haul. Get your free shipping quote today.'
%>

<div id='header_section'>
  <br /><br />
  <div class='hide-on-med-and-down'>
    <br />
  </div>
  <div id='cover-image'>
    <center>
      <h1 style='font-size: 450%;' class='white-text hide-on-med-and-down'>
        "YOU CALL, WE HAUL"
      </h1>
      <h5 class='white-text hide-on-large-only'>
        "YOU CALL, WE HAUL"
      </h5>
      <div class='hide-on-med-and-down'>
        <br />
      </div>
      <h4 class='white-text container hide-on-med-and-down'>
        Rest assured that you will be receiving the best freight rates with the
        most trusted carriers.
      </h4>
      <div class='hide-on-med-and-down'>
        <br />
      </div>
      <br />
      <a class='waves-effect waves-light btn-large amber amber-lighten-1 grey-text text-darken-4'
         href='/free_quote'>
        Get Free Shipping Quote
      </a>
      <!-- <br /><br />
      <center class='white-text'>
        <b>Agent for RR Donnelley / DLS Worldwide</b>
      </center> -->
    </center>
    <br /><br />
    <div class='hide-on-med-and-down'>
      <br /><br /><br /><br />
    </div>
  </div>
</div>
<div class='hide-on-med-and-down'>
  <br /><br />
</div>
<div class='container'>
  <h4 class='center-align'>
    Our Services
  </h4>
  <div class='row center-align '>
    <div class='col s12 m6'>
      <h5 class='center-align grey-text text-darken-2'>
        Full Truckload
      </h5>
    </div>
    <div class='col s12 m6'>
      <h5 class='center-align grey-text text-darken-2'>
        International Freight
      </h5>
    </div>
    <div class='col s12 m6'>
      <h5 class='center-align grey-text text-darken-2'>
        Less-Than-Truckload (LTL)
      </h5>
    </div>
    <div class='col s12 m6'>
      <h5 class='center-align grey-text text-darken-2'>
        White Glove Services
      </h5>
    </div>
    <div class='col s12 m6'>
      <h5 class='center-align grey-text text-darken-2'>
        Integrated Distribution
      </h5>
    </div>
    <div class='col s12 m6'>
      <h5 class='center-align grey-text text-darken-2'>
        Intermodal
      </h5>
    </div>
  </div>
  <center>
    <h5>
      <a href='/services' class='amber-text'>Learn more about our services</a>
    </h5>
  </center>
</div>
<br /><br />
<div class='container'>
  <h4 class='center-align' style='padding-left: 40px; padding-right: 40px;'>
    What our customers say
  </h4>
  <h5 class='center-align grey-text text-darken-3'>
    "I use Crossroads Global Solutions for all our shipping needs and they have
    exceeded all our expectations... I would highly recommend them for their
    competitive shipment pricing and awesome customer service."
    <br /><br />
    <a href='/testimonials' class='amber-text'>Read more</a>
  </h5>
</div>
<br /><br />
<h4 class='center-align' style='padding-left: 40px; padding-right: 40px;'>
  We work with the best and most trusted carriers in the industry
</h4>
<br /><br />
<div class='row center-align'>
  <div class='col s12 m3 center-align'>
    <%= image_tag '/yrc.png',
                  height: '75px;',
                  title:'YRC Logo',
                  alt:'YRC Logo' %>
    <br /><br />
  </div>
  <div class='col s12 m3 center-align'>
    <%= image_tag '/ups.png',
                  height: '75px;',
                  title:'UPS Logo',
                  alt:'UPS Logo' %>
    <br /><br />
  </div>
  <div class='col s12 m3 center-align'>
    <%= image_tag '/xpo.png',
                  height: '100px;',
                  style: 'position: relative; bottom: 15px;',
                  title:'XPO Logo',
                  alt:'XPO Logo' %>
    <br /><br />
  </div>
  <div class='col s12 m3 center-align'>
    <%= image_tag '/fed_ex.png',
                  height: '75px;',
                  title:'FedEx Logo',
                  alt:'FedEx Logo' %>
    <br /><br />
  </div>
</div>
<br /><br />
<div class='container'>
  <h5 class='center-align grey-text text-darken-2'>
    And many others...
  </h5>
  <div class='row'>
    <div class='col s12 m4 center-align'>
      <ul class="grey-text text-darken-2" style='font-size: 150%;'>
        <li>
          AAA Cooper
        </li>
        <li>
          XPO Logistics
        </li>
        <li>
          Dayton Freight
        </li>
        <li>
          FedEx Freight
        </li>
        <li>
          Lakeville Motor Express
        </li>
        <li>
          Roadrunner Transportation
        </li>
        <li>
        </li>
      </ul>
    </div>
    <div class='col s12 m4 center-align'>
      <ul class="grey-text text-darken-2" style='font-size: 150%;'>
        <li>
          New Penn
        </li>
        <li>
          Clearlane Freight
        </li>
        <li>
          R&L Carriers
        </li>
        <li>
          Roadrunner
        </li>
        <li>
          SouthEastern Freight Lines
        </li>
        <li>
          SAIA
        </li>
        <li>
          <br />
          And more...
        </li>
      </ul>
    </div>
    <div class='col s12 m4 center-align'>
      <ul class="grey-text text-darken-2" style='font-size: 150%;'>
        <li>
          Standard Forwarding
        </li>
        <li>
          USF Reddaway
        </li>
        <li>
          Central Freight Lines
        </li>
        <li>
          Tax Air Freight
        </li>
        <li>
          YRC Worldwide
        </li>
        <li>
          Southwestern Motor Freight Lines
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>
  <br />
  <h5 class='center-align grey-text text-darken-3'>
    "Our experience with Crossroads Global Solutions has been amazing. We are
    very pleased with the service they provide. The best thing is that they are
    honorable, friendly, and trustworthy... Look no further for a company to
    schedule your freight at a fair price and great service."
    <br /><br />
    <a href='/testimonials' class='amber-text'>Read more</a>
  </h5>
  <br />
  <br />
  <center>
    <h5 class='grey-text text-darken-2'>
      Ready to get your free quote?
    </h5>
    <br />
    <a class='waves-effect waves-light btn-large amber amber-lighten-1 grey-text text-darken-4'
       href='/free_quote'>
      Get Free Quote
    </a>
  </center>
  <br /><br /><br />
</div>
