<%
  meta title: "Services | Crossroads Global Solutions"
%>

<div class='container'>
  <h1 class='center-align'>Services</h1>
  <div class='row'>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 125px;'>
          <span class='card-title'>
            Full Truckload
          </span>
          <p>
            NEED TEXT...
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 125px;'>
          <span class='card-title'>
            International Freight
          </span>
          <p>
            NEED TEXT...
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 125px;'>
          <span class='card-title'>
            Less-Than-Truckload (LTL)
          </span>
          <p>
            NEED TEXT...
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 125px;'>
          <span class='card-title'>
            Integrated Distribution
          </span>
          <p>
            NEED TEXT...
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 125px;'>
          <span class='card-title'>
            LTL Freight Shipping
          </span>
          <p>
            NEXT TEXT
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 125px;'>
          <span class='card-title'>
            Intermodal
          </span>
          <p>
            NEED TEXT...
          </p>
        </div>
      </div>
    </div>
  </div>
  <center>
    <h5 class='grey-text text-darken-2'>
      Ready to get your free quote?
    </h5>
    <br />
    <a class='waves-effect waves-light btn-large amber amber-lighten-1 grey-text text-darken-4'
       href='/free_quote'>
      Get Free Quote
    </a>
  </center>
</div>
