<%
  meta title: "Services | Crossroads Global Solutions"
%>

<div class='container'>
  <h1 class='center-align'>Services</h1>
  <br />
  <div class='row'>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 200px;'>
          <span class='card-title'>
            Full Truckload
          </span>
          <p>
            Expansive Contract Carrier Network, Consistent capacity and reliable
            service, Customized Solutions for your truckloads.
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 200px;'>
          <span class='card-title'>
            International Freight
          </span>
          <p>
            Ocean LCL, FCL, Air Freight Door to door and Door to Port.
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 200px;'>
          <span class='card-title'>
            Less-Than-Truckload (LTL)
          </span>
          <p>
            Optons are same or next day LTL shipping, expedited delivery and
            guaranteed services.
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 200px;'>
          <span class='card-title'>
            White Glove Services
          </span>
          <p>
            VIP service, room of choice, 2-4 man delivery, remove debris,
            light set up.
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 200px;'>
          <span class='card-title'>
            Integrated Distribution
          </span>
          <p>
            Pool distribution and consolidation to disperse your LTL shipments.
          </p>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l6'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 200px;'>
          <span class='card-title'>
            Intermodal
          </span>
          <p>
            Very consistent, pickup and delivery at a very competitive volume
            rates.
          </p>
        </div>
      </div>
    </div>
  </div>
  <center>
    <h5 class='grey-text text-darken-2'>
      Ready to get your free quote?
    </h5>
    <br />
    <a class='waves-effect waves-light btn-large amber amber-lighten-1 grey-text text-darken-4'
       href='/free_quote'>
      Get Free Quote
    </a>
  </center>
</div>
