<%
  meta title: 'Taxidermy | Crossroads Global Solutions'
       description:'Taxidermy shipping specialists'
%>

<div class='container'>
  <h1 class='center-align'>Taxidermy</h1>
  <br />
  <h5 class='grey-text text-darken-4'>
    We specialize in taxidermy shipping
  </h5>
  <p class='grey-text text-darken-2'
     style='font-size: 120%;'>
     If you have purchased taxidermy or had your own hunting trophies mounted,
     you understand the value in taxidermy–it’s not just a belonging, there
     are emotional ties to the trophy.
     <br /><br />
     Move your taxidermy with care so that as it hangs on your wall or sits on
     a shelf in your new location–it is just as majestic as the first day you
     saw it, whether in the flesh or at the store.
     <br /><br />
  </p>
  <h3 class='center-align container'>
    Shipping hunting trophies isn't part of our business... It's our business.
    <br /><br />
    <span class='amber-text text-amber'>
      "YOU CALL, WE HAUL"
    </span>
  </h3>
  <br />
  <center>
    <h5 class='grey-text text-darken-2'>
      Ready to get your free quote?
    </h5>
    <br />
    <a class='waves-effect waves-light btn-large amber amber-lighten-1 grey-text text-darken-4'
       href='/free_quote'>
      Get Free Quote
    </a>
  </center>
  <br /><br />
  <p class='grey-text text-darken-2'
     style='font-size: 120%;'>
    Crossroads Global Solutions is a shipping company
     dedicated to the safe and prompt delivery of your hunting trophies. Our
     experienced staff transport system ensure that all taxidermy, big or small,
     will reach their destination intact, on-time, and on budget.
     <br /><br />
     Crossroads Global Solutions is the Premiere Big Game Shipping Experts!
     Learn more about the services we provide and the value that we offer the
     hunter, outfitter, and taxidermist.
     <br /><br />
     At the time you place your orders to ship, you will be given an Estimated
     Time of Departure (ETD) and an Estimated Time of Arrival (ETA). Crossroads
     Global Solutions monitors the progress of all shipments several times a day,
     so if it appears that there may be a delay in either pick-up or delivery,
     a Crossroads Global Solutions Representative will notify you immediately.
     <br /><br />
     Remember, Crossroads Global Solutions knows how you feel about your
     trophies, so… if you're getting a little nervous, feel free to give us a
     call anytime you may have a concern and we'll tell you exactly where your
     trophy is at that time.
     <br /><br />
     We have over 100 other Taxidermies that have used our services for over 7
     years.
    <br />
   </p>
   <br /><br />
   <center>
     <h5 class='grey-text text-darken-2'>
       Ready to get your free quote?
     </h5>
     <br />
     <a class='waves-effect waves-light btn-large amber amber-lighten-1 grey-text text-darken-4'
        href='/free_quote'>
       Get Free Quote
     </a>
   </center>
 </div>

 <!-- Scripts -->
 <script>
   fbq('track', 'Lead');
 </script>
