<%
  meta title: "Terms of Service | Crossroads Global Solutions"
%>

<div class='container'>
  <h1 class='center-align'>Terms of Service ("Terms")</h1>
  <br />
  <p class='grey-text text-darken-2'
     style='font-size: 120%;'>
    Last updated: March 21st, 2017
    <br /><br />
    Please read these Terms of Service ("Terms", "Terms of Service") carefully
    before using the
    <a href='www.crossroadsglobalsolutions.com'>
      www.crossroadsglobalsolutions.com
    </a>
    website (the "Service") operated by Crossroads Global Solutions LLC.
    ("us", "we", or "our").
    <br /><br />
    Your access to and use of the Service is conditioned on your acceptance of
    and compliance with these Terms. These Terms apply to all visitors, users
    and others who access or use the Service.
    <br /><br />
    <b>
      By accessing or using the Service you agree to be bound by these Terms. If you disagree
      with any part of the terms then you may not access the Service.
    </b>
    <br /><br />
    <b>Termination</b>
    <br /><br />
    We may terminate or suspend access to our Service immediately, without prior notice or liability, for
    any reason whatsoever, including without limitation if you breach the Terms.
    <br /><br />
    All provisions of the Terms which by their nature should survive termination shall survive
    termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and
    limitations of liability.
    <br /><br />
    <b>Changes</b>
    <br /><br />
    We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
    revision is material we will try to provide at least 90 days' notice prior to any new terms
    taking effect. What constitutes a material change will be determined at our sole discretion.
    <br /><br />
    <b>Contact Us</b>
    <br /><br />
    If you have any questions about these Terms, please contact us.
