<%
  meta title: 'Testimonials | Crossroads Global Solutions'
       description:'Hear what our customers have to say...'
%>

<div class='container'>
  <h1 class='center-align'>Testimonials</h1>
  <p class='grey-text text-darken-2'
     style='font-size: 120%;'>
    "I been working with Mary and Monte for over 7 years, they are a pleasure to
    work with. I use Crossroads Global Solutions for all our shipping needs and
    they have exceeded all our expectations.
    <br /><br />
    They always answer our emails in a timely manner and even our texts ☺
    <br /><br />
    I would highly recommend them for their competitive shipment pricing and
    awesome customer service.
    <br /><br />
    They make shipping fun ☺"
    <br /><br />
    Michael Gallery
    <br />
    <i>Judy, Aldo and Tony</i>
  </p>
</div>
