<%
  meta title: 'Testimonials | Crossroads Global Solutions'
       description:'Hear what our customers have to say...'
%>

<div class='container'>
  <h1 class='center-align'>Testimonials</h1>
  <br />
  <p class='grey-text text-darken-2'
     style='font-size: 120%;'>
    "I been working with Mary and Monte for over 7 years, they are a pleasure to
    work with. I use Crossroads Global Solutions for all our shipping needs and
    they have exceeded all our expectations.
    <br /><br />
    They always answer our emails in a timely manner and even our texts ☺
    <br /><br />
    I would highly recommend them for their competitive shipment pricing and
    awesome customer service.
    <br /><br />
    They make shipping fun ☺"
  </p>
  <br />
  <hr class='grey-text text-darken-2'/>
  <br />
  <p class='grey-text text-darken-2'
     style='font-size: 120%;'>
    "Our experience with Crossroads Global Solutions has been amazing. We are
    very pleased with the service they provide. The best thing is that they are
    honorable, friendly, and trustworthy. And that is actually hard to come by
    when dealing with LTL Freight!
    <br /><br />
    We have benefited from their awesome low rates that we receive from them
    when we ask for quotes and these rates are reflected in the same amount when
    we get our bills. If there are ever any discrepancies, they fight the fight
    for us! Which I consider extremely valuable to have when it comes to
    disputing any bills that I might have to dispute. No one likes to get
    cheated and from my nearly 3 years of experience, it is all too common in
    the Freight business.
    <br /><br />
    Look no further for a company to schedule your freight
    at a fair price and great service. I highly recommend this third party
    business to move your freight shipments!"
  </p>
</div>
