<%
  meta title: 'Thank You | Crossroads Global Solutions'
%>

<br /><br /><br />
<h1 class='center-align'>
  Thank you
</h1>
<br />
<h5 class='center-align'>
  One of the members of our team will be reaching out to you shortly.
</h5>
<br /><br />
<center>
  <h5 class='grey-text text-darken-2'>
    Need another quote?
  </h5>
  <br />
  <a class='waves-effect waves-light btn-large amber amber-lighten-1 grey-text text-darken-4'
     href='/free_quote'>
    Get Free Quote
  </a>
</center>
