<%
  meta title: 'Thank You | Crossroads Global Solutions'
%>

<br /><br /><br />
<h1 class='center-align'>
  Thank you
</h1>
<h5 class='center-align'>
  One of the members of our team will be reaching out to you shortly.
</h5>
